<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://codinghoner-8000.theiadocker-2-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp">Best Cars</a>
                    <a class="navbar-brand" href="https://codinghoner-8000.theiadocker-2-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp/dealerdetails">Reviews</a>
                    <a class="navbar-brand" href="https://codinghoner-8000.theiadocker-2-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp/about">About</a>
                    <a class="navbar-brand" href="https://codinghoner-8000.theiadocker-2-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp/contact">Contact</a>
                </div>
            </div>
        </nav>
        <form action="{% url 'djangoapp:registration' %}" method="post">
            <div class="container"> <!--Style root div with .container class -->
              {% csrf_token %}
              <h1>User Registration</h1>
              *All fields are required*
              <hr>
              <div class="form-group"> <!--Style second div with .form-group class -->
                  <label for="username"><b></b></label>
                  <input type="text" class="form-control" placeholder="*Enter User Name: " name="username" required> <!--Style input with .form-control class -->
                  <label for="firstname"><b></b></label>
                  <input type="text" class="form-control" placeholder="*Enter First Name: " name="firstname" required> <!--Style input with .form-control class -->
                  <label for="lastname"><b></b></label>
                  <input type="text" class="form-control" placeholder="*Enter Last Name: " name="lastname" required> <!--Style input with .form-control class -->
                  <label for="psw"><b></b></label>
                  <input type="password" class="form-control" placeholder="*Enter Password: " name="psw" required>
                  <br> <!--Style input with .form-control class -->
                  {% if message %}
                  <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
                      {{ message }}
                  </div>
                  {% endif %}
                  <button class="btn btn-primary" type="submit">Register</button> <!--Style button with .btn and .btn-primary class -->
              </div>
            </div>
          </form>
    </body>
</html>